*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --secondary:#0081ff;
    --primary:#e3e6ed;
}
.header{
    background-color:var(--primary);
    min-height: 90vh;
}
/**************** navigation**/
.nav{
    max-width: 1140px;
    margin: 0 auto;
    padding: 20px 0;
}
.nav::after {
    content: "";
    display: table;
    clear: both; 
}
.nav-brand{
    float: left;
    font-size: 30px;
   color: var(--secondary); 
}
.nav-menu{
    float: right;
}
.nav-list{
    list-style-type: none;  
}
.nav-items{
    float: left;
    margin-left: 20px;
     
}
.nav-icon{
    position: absolute;
    right: 30px;
    display: none;
}
.nav-anchor{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.nav-anchor:hover{
    color: var(--secondary);
}
/*************navigation end*/

/*********************** Reusable Components */
.row{
    max-width: 1140px;
    margin: 0 auto;
}
.row::after {
    content: "";
    display: table;
    clear: both; 
}
[class^="col-"]{
    float: left;  
}
[class^="col-"]:not(:last-child){
    margin-right: 60px;
    margin-bottom: 30px;
}
.col-1-of-2{
    width: calc((100% -  60px) / 2);
}
.col-1-of-3{
    width: calc((100% - (2* 60px)) / 3);
}
.col-1-of-4{
    width: calc((100% - (3* 60px)) / 4);
}
/*********************Button */
.btn{
    padding: 12px 15px;
    background-color: var(--secondary);
    border: none;
    color: white;
    text-decoration: none;
}
 /******utility classes*/
 .text-center{
    text-align: center;
 }


/*************hero start**/
.hero{
    padding: 40px 0;
}
.hero-heading{
    font-size: 50px;
    margin-bottom: 20px;
}


.hero-form-label{
    font-size: 20px;
    font-weight: 600;
}
.hero-input{
   padding: 10px 12px;
}

.hero-image-holder{
    padding: 30px;
    position: relative;
 }
.hero-image{
    width: 100%;
    border-right: 20px solid var(--secondary);
    border-bottom: 20px solid var(--secondary);
}
.hero-image-positioning{
    position: absolute;
}
.rainbow-hero{
    left: 10px;
    top: 10px;
}
.project-done-hero{
    bottom: 20px;
    left: 200px;
    height: 70px;
}
.Beat-Design-hero{
    bottom: 300px;
    right: -30px;
    height: 70px;
     
}
 
/***********section-about star**/
.section-about{
    padding: 100px 0;
}
.section-about-image-holder{
    padding: 20px;
}
.section-about-image{
    width: 100%;
    border-right: 20px solid var(--secondary);
    border-bottom: 20px solid var(--secondary);
}
.section-about-heading{
    font-size: 35px;
    padding-bottom: 20px;
}
.section-about-para{
    font-size: 19px;
    padding-bottom: 22px;
}
/************SERVICES START*/
.section-services{
    background-color: var(--primary);
    padding: 100px 0;
}
.section-services-heading{
    text-align: center;
     padding: 20px 0;
      
}
.section-services-heading::after{
    content: "";
    background-color:var(--secondary);
    display: block;
    margin: 0 auto;
    height: 2px;
    width: 30px;
}

.section-services-col-holder::after {
    content: "";
    display: table;
    clear: both; 
}
.section-services-icon-holder{
    float: left;
    background-color: var(--secondary);
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 43px;
    border-radius: 100%;
    
}
.fa-globe{
    color: white;
}
.section-services-textbox{
    float: right;
    width: 85%;
}
.section-services-textbox-heading{
    font-size: 17px;
}
.section-services-textbox-para{
    font-size: 19px;
}
/********************features start*************/
.section-features{
    padding: 100px 0;
}
.features-heading{
    text-align: center;
    padding-bottom: 40px;
}
.features-heading::after{
    content: "";
    background-color:var(--secondary);
    display: block;
    margin: 0 auto;
    height: 2px;
    width: 30px;
}
.features-image-holder{
    background-color: var(--secondary);
}



.features-image{
    width: 100%;
    position: relative;
    left: 10px;
    bottom: 10px;
     
}

.feature-holder{
    padding: 20px 0;
    
}


.feature-holder::after{
    content: "";
    display: table;
    clear: both;
}



.feature-icon-holder{
    float: left;
    background-color: var(--secondary);
    height: 40px;
    width: 40px;
    border-radius: 100%;
    text-align: center;
    line-height: 43px;
     
}

.feature-icon{
    color: #fff;
    font-size: 20px;
}

.feature-textbox{
     float: right;
     width: 75%;
}
.feature-textbox-heading{
    font-size: 20px;
}
.feature-para{
    font-size: 18px;
}



/* gallery start */
.gallery{
    background-color: var(--primary);  
}
.gallery-heading{
    text-align: center;
    padding: 50px;
}
.gallery-heading::after{
    content: "";
    background-color:var(--secondary);
    display: block;
    margin: 0 auto;
    height: 2px;
    width: 30px;
}
.gallery-image-holder{
   height: 200px;
}
.gallery-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* gallery stop */

/* section-partnership stop */
.section-partnership{
    padding: 100px;
}
.partnership-textbox{
    
}
.partnership-textbox-heading{
     font-size: 35px;
     padding-bottom: 15px;
}
.partnership-textbox-heading-para1{
    font-size: 20px;
    padding-bottom: 18px;
}
.partnership-textbox-heading-para2{
    font-size: 18px;
}
.partnership-list{
    padding: 10px;
    content: "";
    display: table;
    clear: both;
}
.partnership-icon-holder{
    float: left;
    background-color: var(--secondary);
    height: 40px;
    width: 40px;
    border-radius: 100%;
    text-align: center;
    line-height: 43px;
}
.partnership-icon{
    color: #fff;
    font-size: 20px;
}
.partnership-list-textbox{
    float: right;
    width: 90%;
    margin-bottom: 20px;
}
.partnership-list-textbox-heading{
    font-size: 25px;
}
.partnership-list-textbox-para{
    font-size: 18px;
}
/* section-partnership end */

/* section-testmonies start */

.section-testmonies{
    padding: 100px;
    background-color: var(--primary);
}
.section-testmonies-img-holder{
    background-color: var(--secondary);
    width: 50%;
    margin: 0 auto;
    margin-top: -200px;
}
.section-testmonies-image{
    width: 100%;
    position: relative;
    right: 10px;
    bottom: 10px;
}
.section-testmonies-heading{
    text-align: center;
    padding: 30px;
}
.section-testmonies-heading::after{
    content: "";
    background-color:var(--secondary);
    display: block;
    margin: 0 auto;
    height: 2px;
    width: 30px;
}
.section-testmonies-textbox{
    background-color: #fff; 
    padding: 20px;  
}
.section-testmonies-para1{
    font-size: 18px;
    padding-bottom: 15px;
}
.section-testmonies-heading-2{
    font-size: 18px;
     
}
.section-testmonies-para2{
    font-size: 18px;
}
/*section-footer start*/
.section-footer{
    background-color: #454756;
     
}
.color-white{
    color: #fff;
}
.footer-para{
    font-size: 15px;
}
/* section footer end */

/* media query for ipad */
 @media screen and (max-width:900px) {
    .header{
        padding: 50px;
    }
    .nav{
        padding: 0 26px;
    }
    .nav-brand{
        float: none;
    }
    .nav-menu{
        float: none;
        background-color: #fff;
        padding: 20px;
        width: 320px;
        border-radius: 6px;
        box-shadow: 5px 5px 5px #ccc;
        display: none;
    }
    .nav-items{
        float: none; 
        margin-bottom: 20px; 
    }
    .nav-icon{
        position: absolute;
        right: 90px;
        top: 65px;
        display: block;
    }
     section{
        padding: 40px 0 !important;
     }
     .row{
     max-width: 450px;
     }
     .row [class^="col-"]{ 
         float: none;
         width: 100%;
         margin-right: 0 !important;
         margin-bottom: 50px;
     }
     .row:not(:last-child){
        margin-bottom: 0;
     }
     
     .hero-textbox{
        float: none;
     }

     .hero-heading{
        font-size: 45px;
        margin-bottom: 30px;
     }
     .hero-form-label{
        font-size: 35px;
     }
     .hero-image-holder{
        width: 100%;
        padding: 30px;
        position: relative;
        float: none;
    }

    .hero-image{
        margin-top: 20px;
    }

    .hero-image-positioning{
         position: absolute;
    }
    .rainbow-hero{
        left: 20px;
        top: 35px;
    }
    .project-done-hero{
        bottom: 10px;
        left: 100px;
        height: 60px;
    }
    .Beat-Design-hero{
        bottom: 250px;
        right: -20px;
        height: 60px;
             
    }
        /* section about starts here */
    .section-about{
        padding: 100px 0;
    }
    .section-about-heading{
        font-size: 40px;
        padding-bottom: 30px;  
    }
    .section-about-para{
        font-size: 27px;
        padding-bottom: 60px;
    }

        /* section services start */
    .section-services{
        padding: 100px 0;
        
    }
    .section-services-heading{
        font-size: 35px;
        padding-bottom: 60px;
    }

    .section-services-icon-holder{ 
        width: 75px;
        height: 75px;
        text-align: center;
        line-height: 88px;
        float: none;
        margin: 0 auto;
        margin-bottom: 35px;
    
    }
    .fa-globe{
        color: white;
        font-size: 25px;
    }
    .section-services-textbox{
        float: none;
        width: 90%;
        margin: 0 auto;
    }
    .section-services-textbox-heading{
        font-size: 25px;
        text-align: center;
        padding-bottom: 20px;
    }
    .section-services-textbox-para{
        font-size: 22px;
         padding-bottom: 40px;
    } 
        /* section services stops */

        /* section features start */

    .section-features{
        padding: 100px 0;
    }
    .features-heading{
         font-size: 35px;
        padding-bottom: 60px;
    }

    .features-image-holder{
         width: 90%;
    }
    .feature-holder{
        padding: 40px 0;
        
    }
    .feature-icon-holder{
        height: 75px;
        width: 75px;
        text-align: center;
        line-height: 88px;
        float: none;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .feature-icon{
        color: #fff;
        font-size: 30px;
        text-align: center;
    }
    
    .feature-textbox{
         width: 75%;
         float: none;
         margin: 0 auto;
    }
    .feature-textbox-heading{
        font-size: 35px;
        text-align: center;
        padding-bottom: 15px;
    }
    .feature-para{
        font-size: 25px;
    }

    /* section Gallery starts */
    .gallery-heading{
        padding: 50px;
        font-size: 35px;
    }
    
    /* section partnership starts */
     
    .partnership-textbox-heading{
         font-size: 40px;
         padding-bottom: 35px;
    }
    .partnership-textbox-heading-para1{
        font-size: 27px;
        padding-bottom: 20px;
    }
    .partnership-textbox-heading-para2{
        font-size: 27px;
    }
     
    .partnership-icon-holder{
         
        height: 75px;
        width: 75px;
        border-radius: 100%;
        text-align: center;
        line-height: 88px;
        float: none;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    .partnership-icon{
        color: #fff;
        font-size: 30px;
    }
    .partnership-list-textbox{
        float: none;
        width: 70%;
        margin-bottom: 45px;
        margin: 0 auto;
         
    }
    .partnership-list-textbox-heading{
        font-size: 35px;
        text-align: center;
        padding-bottom: 15px;
    }
    .partnership-list-textbox-para{
        font-size: 27px;
        padding-bottom: 25px;
    }

    /* section testimonies start */
    
    .section-testmonies-img-holder{
        width: 47%;
        margin-top: -100px;
    }
    .section-testmonies-heading{
        padding: 30px;
        font-size: 35px;
    }
     
    .section-testmonies-para1{
        font-size: 22px;
        padding-bottom: 20px;
    }
    .section-testmonies-heading-2{
        font-size: 25px;
         
    }
    .section-testmonies-para2{
        font-size: 22px;
    }
    /* footer starts */
    .footer-para{
        font-size: 20px;
    }
}
    

 @media screen and (max-width:480px) {
    /* .header{
        padding: 50px;
    } */
     
    .nav-brand{
        float: none;
        font-size: 17px;
    }
    
    .nav-icon{
        position: absolute;
        right: 70px;
        top: 60px;
        display: block;
    }
    .row{
        padding: 0 32px;
        }

    .hero-heading{
        font-size: 35px;
        margin-bottom: 30px;
        line-height: 45px;
     }
     .hero-form-label{
        font-size: 25px;
     }
     .hero-input{
        /* padding: 10px 12px; */
        margin-bottom: 30px;

     }
     
     .hero-image-holder{
        width: 100%;
        /* padding: -90px; */
    }
    .rainbow-hero{
        left: 15px;
        top: 25px;
    }
    .project-done-hero{
        bottom: 10px;
        left: 100px;
        height: 40px;
    }
    .Beat-Design-hero{
        bottom: 120px;
        right: -20px;
        height: 40px;
             
    }
    
    .section-about-heading{
        font-size: 30px;
        padding-bottom: 35px;  
        line-height: 45px;
    }
    .section-about-para{
        font-size: 22px;
        padding-bottom: 60px;
    }
     .section-services{
        text-align: center;
     }
     
    .section-services-heading{
        font-size: 30px;
        padding-bottom: 60px;
    }

    .section-services-icon-holder{ 
        width: 65px;
        height: 65px;
        text-align: center;
        line-height: 73px;
        padding-bottom: 30px;
    
    }
    .fa-globe{
        color: white;
        font-size: 20px;
    }
    .section-services-textbox{
        width: 70%;
        
    }
    .section-services-textbox-heading{
        font-size: 20px;
    }
    .section-services-textbox-para{
        font-size: 22px;
         padding-bottom: 25px;
    } 
    
    .features-heading{
         font-size: 30px;
        padding-bottom: 60px;
    }

    .features-image-holder{
         width: 90%;
    }
    .feature-holder{
        padding: 30px 0;
        
    }
    .feature-icon-holder{
        height: 60px;
        width: 60px;
        text-align: center;
        line-height: 75px;
    }
    .feature-icon{
        color: #fff;
        font-size: 30px;
        text-align: center;
    }
    
    .feature-textbox{
         width: 67%;
    }
    .feature-textbox-heading{
        font-size: 25px;
    }
    .feature-para{
        font-size: 22px;
    }
    .gallery-heading{
        font-size: 30px;
    }

    .partnership-textbox-heading{
         font-size: 30px;
         line-height: 45px;
    }
    .partnership-textbox-heading-para1{
        font-size: 22px;
    }
    .partnership-textbox-heading-para2{
        font-size: 22px;
    }
    .partnership-icon-holder{
         
        height: 65px;
        width: 65px;
        line-height: 75px;
    }
    .partnership-list-textbox{
        width: 90%;
    }
    .partnership-list-textbox-heading{
        font-size: 30px;
    }
    .partnership-list-textbox-para{
        font-size: 24px;
    }

    .section-testmonies-img-holder{
        width: 60%;
    }
    .section-testmonies-heading{
        padding: 30px;
        font-size: 30px;
    }
     
    .section-testmonies-para1{
        font-size: 22px;
        padding-bottom: 20px;
    }
    .section-testmonies-heading-2{
        font-size: 23px;
         
    }
    .section-testmonies-para2{
        font-size: 22px;
    }

    .footer-para{
        font-size: 18px;
    }

     
 }

 

 